<div class="jumbotron">
    <h2><string>Web API Corredores</string></h2>
    <p class="lead">Web API para la generación y consumo de Token de autenticación</p>
    <p>@Html.ActionLink("Ver Servicios >>", "Index",
       new { controller = "Help" },
       new { @class = "btn btn-primary btn-lg" })
    </p>
</div>
<div class="row">

</div>
